<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Burner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Burner.Properties.Settings>
            <setting name="SearchEngine" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Google,https://www.google.com/search?q=</string>
                        <string>Bing,https://www.bing.com/search?q=</string>
                        <string>Baidu,https://www.baidu.com/s?wd=</string>
                        <string>DuckDuckGo,https://duckduckgo.com/?q=</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultEngine" serializeAs="String">
                <value>Bing</value>
            </setting>
            <setting name="DisableJavaScript" serializeAs="String">
                <value>False</value>
            </setting>
        </Burner.Properties.Settings>
    </userSettings>
</configuration>